COMPOSE_PROJECT_NAME=tennisme-revproxy

TZ=Europe/Paris
PUID=1000
PGID=1000

BASE_DOMAIN=elasticlabs.co
AUTH_DOMAIN=auth.elasticlabs.co
ADMIN_DOMAIN=admin.elasticlabs.co
ADMIN_EMAIL=admin@elasticlabs.co

REVPROXY_APPS_NETWORK=revproxy_apps
SWAG_NETWORK=swag_net

SWAG_URL=elasticlabs.co
SWAG_SUBDOMAINS=auth,admin,labs
SWAG_VALIDATION=http
SWAG_ONLY_SUBDOMAINS=true
SWAG_STAGING=false

AUTHENTIK_POSTGRES_DB=authentik
AUTHENTIK_POSTGRES_USER=authentik
AUTHENTIK_POSTGRES_PASSWORD=change-me
AUTHENTIK_SECRET_KEY=change-me
AUTHENTIK_ERROR_REPORTING__ENABLED=false

OPENOBSERVE_IMAGE=o2cr.ai/openobserve/openobserve-enterprise:v0.70.2
OPENOBSERVE_ROOT_EMAIL=admin@elasticlabs.co
OPENOBSERVE_ROOT_PASSWORD=change-me
OPENOBSERVE_DATA_DIR=/data
OPENOBSERVE_BASE_URI=/observe
OPENOBSERVE_PUBLIC_URL=https://admin.elasticlabs.co/observe

KOPIA_IMAGE=kopia/kopia:latest
KOPIA_CONFIG_PATH=/app/config
KOPIA_LOG_DIR=/app/logs
KOPIA_CACHE_DIR=/app/cache
KOPIA_USERNAME=admin
KOPIA_PASSWORD=change-me
KOPIA_SERVER_HOST=0.0.0.0
KOPIA_SERVER_PORT=51515

# exemple de dépôt monté depuis le NAS Synology sur l'hôte
KOPIA_REPOSITORY_PATH=/repository

CROWDSEC_ENROLL_KEY=
CROWDSEC_BOUNCER_KEY=