COMPOSE_PROJECT_NAME=tennisme-revproxy

TZ=Europe/Paris
PUID=1000
PGID=1000

BASE_DOMAIN=elasticlabs.co
AUTH_DOMAIN=auth.elasticlabs.co
ADMIN_DOMAIN=admin.elasticlabs.co
ADMIN_EMAIL=admin@elasticlabs.co

REVPROXY_APPS_NETWORK=revproxy_apps
SWAG_NETWORK=swag_net

SWAG_URL=elasticlabs.co
SWAG_SUBDOMAINS=auth,admin,labs
SWAG_VALIDATION=http
SWAG_ONLY_SUBDOMAINS=true
SWAG_STAGING=false

KEYCLOAK_VERSION=26.5.7
KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=change-me
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_HOSTNAME=https://auth.elasticlabs.co

OPENOBSERVE_IMAGE=o2cr.ai/openobserve/openobserve-enterprise:v0.70.2
OPENOBSERVE_ROOT_EMAIL=root@example.com
OPENOBSERVE_ROOT_PASSWORD=Complexpass#123
OPENOBSERVE_BASE_URI=/observe
OPENOBSERVE_PUBLIC_URL=https://admin.elasticlabs.co/observe
OPENOBSERVE_DATA_DIR=/data

CROWDSEC_ENROLL_KEY=
CROWDSEC_BOUNCER_KEY=