# Setup here your project name
COMPOSE_PROJECT_NAME=tennisme-revproxy

TZ=Europe/Paris
PUID=1000
PGID=1000

# Domains and emails
BASE_DOMAIN=elasticlabs.co
AUTH_DOMAIN=auth.elasticlabs.co
ADMIN_DOMAIN=admin.elasticlabs.co
ADMIN_EMAIL=admin@elasticlabs.co

# Networks; apps will be on revproxy_apps, while swag will be on swag_net. 
# This allows us to isolate the reverse proxy from the apps, and only allow the necessary communication between them.
REVPROXY_APPS_NETWORK=revproxy_apps
SWAG_NETWORK=swag_net

# SWAG reverse proxy configuration
SWAG_URL=elasticlabs.co
SWAG_SUBDOMAINS=auth,admin,labs
SWAG_VALIDATION=http
SWAG_ONLY_SUBDOMAINS=true
SWAG_STAGING=false

# Keycloak configuration
KEYCLOAK_VERSION=26.5.7
KEYCLOAK_DB=keycloak
KEYCLOAK_DB_USER=keycloak
# For production, use strong passwords and consider using secrets management instead of environment variables for sensitive data.
KEYCLOAK_DB_PASSWORD=change-me
KEYCLOAK_ADMIN_USER=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_HOSTNAME=https://auth.elasticlabs.co

# OAuth2 Proxy configuration
OAUTH2_PROXY_CLIENT_SECRET=change-me
# Base64-encoded 32-byte random string for cookie encryption. 
# You can generate one using `openssl rand -base64 32`, or using KeeypassXC for example.
OAUTH2_PROXY_COOKIE_SECRET=change-me-change-me-change-me