.env
.tmp

*.log
.DS_Store

authentik/data/**
!authentik/data/.gitkeep

portainer/data/**
!portainer/data/.gitkeep

openobserve/data/**
!openobserve/data/.gitkeep

restic/repo/**
!restic/repo/.gitkeep

crowdsec/data/**
!crowdsec/data/.gitkeep

swag/config/keys/**
swag/config/etc/letsencrypt/**
swag/config/log/**
swag/config/nginx/site-confs/default.conf